<!-- //<p id="notice"><%= notice %></p>-->


<!-- Header -->




<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Traders</h1>
        <h3>Find the Local Goodies in Your City</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg" style="color:white;">Find Out More</a>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
                <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<div class="expanded row">
<% @products.each do |product| %>

    <div class="<%= cycle('large-4 columns medium-6 columns', 'large-2 columns medium-6 columns','large-4 columns medium-6 columns','large-2 columns medium-6 columns','large-2 columns medium-6 columns','large-4 columns medium-6 columns','large-2 columns medium-6 columns','large-4 columns medium-6 columns') %>">
     <div class="card">
       <div class="image">
         <!--<img src="http://static.pexels.com/wp-content/uploads/2014/07/alone-clouds-hills-1909-527x350.jpg">-->
         <%= image_tag(product.image_url1) %>

         <span class="title"><%= product.title %></span>
       </div>
       <div class="content">
         <p><%= sanitize(product.description) %></p>
       </div>
       <div class="action">
         <a href='#'><%= number_to_currency(product.price) %></a>
       </div>
     </div>
   </div>


<% end %>
</div>
