<p id="notice"><%= notice %></p>

<% @products.each do |product| %>
<article class="website-example row wide">
  <div class="large-6 columns">
    <div class="row">
      <div class="small-8 columns">
      	<%= image_tag(product.image_url1, class:'img1') %>
      </div>
      <div class="small-4 columns">
        <%= image_tag(product.image_url2, class:'img1') %>
      </div>
    </div>
  </div>
  <div class="large-6 columns">
    <h3><%= product.title %></h3>
    <h6>by <%= product.seller %></h6>
    <p>	<%= sanitize(product.description) %></p>
    <div class="price_line">
      <span class="price"><%= product.price %></span>
    </div>
    <!--<a class="button" href="http://5-door.mini.com.au/">Take a Closer Look »</a>-->
  </div>
</article>
<% end %>
