<p id="notice"><%= notice %></p>




<div class="expanded row">
<% @products.each do |product| %>

    <div class="<%= cycle('medium-4 columns', 'medium-2 columns','medium-4 columns','medium-2 columns','medium-2 columns','medium-4 columns','medium-2 columns','medium-4 columns') %>">
     <div class="card">
       <div class="image">
         <img src="http://static.pexels.com/wp-content/uploads/2014/07/alone-clouds-hills-1909-527x350.jpg">
         <span class="title"><%= product.title %></span>
       </div>
       <div class="content">
         <p><%= sanitize(product.description) %></p>
       </div>
       <div class="action">
         <a href='#'><%= product.price %></a>
       </div>
     </div>
   </div>


<% end %>
</div>
